@charset "utf-8";

html  { 
   font-family: Verdana, Geneva, sans-serif;
   font-size: 62.5%;
   line-height: 180%;
   color: #666; 
}

body {
   font-size: 1.4em;
}

h1 { 
   font-family: "Courier New", Courier, monospace;
   font-size: 200%;
   margin: 0; }

div { 
   border: 1px solid gray; 
   margin: 5px;
   padding: 10px;
}
#footer { 
   border: none;
   border-top: 1px solid gray; 
   background-color: #efefef;
   text-align: center;
}